@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    overflow-x: hidden;
}

body {
    background-color: #e5e5e5;
}

main {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    height: 100%;
    color: #14213d;
    display: flex;
    flex-direction: column;
}
